{% extends "base.html" %}
{% block content %}
<form method="POST">

	<input type= "text" name= "name" value="{{ trek.name}}">
	<input type= "text" name= "location" value="{{ trek.location}}">
	<input type= "number" name= "duration" value="{{ trek.duration}}">
	<input type= "number" name= "available_slots" value="{{trek.available_slots}}">
	<select name="status">
		<option value="Pending" {%if trek.status =='Pending'%} selected{%endif%}>Pending</option>
		<option value="Approved" {%if trek.status =="Approved"%} selected{%endif%}>Approved</option>
		<option value="Closed" {%if trek.status =='Closed'%} selected{%endif%}>Closed</option>		
		<option value="Open" {%if trek.status =='Open'%} selected{%endif%}>Open</option>
		<option value="Completed" {%if trek.status =='Completed'%} selected{%endif%}>Completed</option>	
	</select>
<input type="date" name="start_date" value="{{ trek.start_date}}">
<input type="date" name="end_date" value="{{ trek.end_date}}">
	<select name="difficulty">
		<option value="Easy" {%if trek.difficulty =='Easy'%} selected{%endif%}>Easy</option>
		<option value="Moderate" {%if trek.difficulty =='Moderate'%} selected{%endif%}>Moderate</option>
		<option value="Hard" {%if trek.difficulty =='Hard'%} selected{%endif%}>Hard</option>
	</select>
	<button type= "submit">save changes</button>
</form>

{% endblock %}