{% extends "base.html" %}
{% block content %}
<h2>Your assigned treks</h2>
<table class= "table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>Difficulty</th>
			<th>Status</th>
			<th>Available Slots</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{%for trek in treks%}
		<tr>
			<td>{{trek.name}}</td>
			<td>{{trek.location}}</td>
			<td>{{trek.difficulty}}</td>
			<td>{{trek.status}}</td>
			<td>{{ trek.available_slots }}</td>
			<td><a href="/admin/trek/edit/{{ trek.id }}" class="btn btn-sm btn-warning">Update</a></td>
			<td><a href="/staff/trek/participants/{{ trek.id }}" class="btn btn-sm btn-info">Participants</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}